@using RBP.Services.Static
@using RBP.Web.Utils
@model UpdatePasswordViewModel

<div class="w-100 h-100 p-2" style="display: flex; flex-direction: column;">
    <header>
        <h3>@Model.PageTitle</h3>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            @Html.ErrorMessage(Model.ErrorMessage)
        }
        @if (!string.IsNullOrEmpty(Model.OkMessage))
        {
            @Html.OkMessage(Model.OkMessage)
        }
    </header>
    <main style="flex: 1; overflow-y: visible; overflow-x: hidden;">
        <form class="need-validate py-2" method="post" action="/Account/UpdatePassword">
            <div class="form-row">
                @Html.AdaptiveTextBox(
                         name: nameof(Model.OldPassword),
                         value: Model.OldPassword,
                         label: "Старый пароль",
                         placeholder: "Введите старый пароль",
                         regex: "^.+$",
                         invalidFeedback: "Заполните это поле",
                         type: "password"
                         )

                @Html.AdaptiveTextBox(
                         name: nameof(Model.NewPassword),
                         value: Model.NewPassword,
                         label: "Новый пароль",
                         placeholder: "Введите новый пароль",
                         regex: ValidationSettings.PasswordPattern,
                         invalidFeedback: ValidationSettings.PasswordMessage,
                         type: "password"
                         )

                @Html.AdaptiveTextBox(
                         name: nameof(Model.PasswordRepeat),
                         value: Model.PasswordRepeat,
                         label: "Повтор пароля",
                         placeholder: "Повторите пароль",
                         invalidFeedback: ValidationSettings.PasswordMessage,
                         type: "password"
                         )
            </div>
            <div class="form-row" style="margin: 0px;">
                <button class="btn btn-primary ml-auto save-button" disabled type="submit">Сохранить</button>
            </div>
        </form>
    </main>
    <footer>
    </footer>
</div>
